.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  
}
.content{
  margin:0px auto;
  margin-left: 50px;
  
}
.md-avatar {
  vertical-align: right;
  width: 50px;
  height: 50px;
}